.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.buttonDesClr {
  background: orange;
  color: white;
}

.table,
th,
td {
  border: 2px solid black;
}

.logout-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #d32f2f;
}